{% extends 'base.html' %}


{% block body %}
    {# {{ restaurants|length }}
    {% for restaurant in restaurants %}
        <p>
            {{ restaurant.name }}
        </p>
    {% endfor %} #}

    {# {% for key, value in data.items() %}
        <p>
            City: {{ key }} ({{ value['restaurants']|length }})
        </p>

        {% for restaurant in value['restaurants'] %}
            <p>
                {{ restaurant.slug }}
            </p>
        {% endfor %}
    {% endfor %} #}
{% endblock %}
